
.log{
    background-color:peachpuff;
    color: aliceblue;
    width: 100wh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.input:hover{
    background-color: rgb(143, 174, 174);
}